body {
    background-color: rgb(22, 187, 228);
}

footer, .photogallery {
    background-color: rgb(4, 146, 146);
    border-radius: 30px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin: 1%;
    padding: 0.4em;
}

.photogallery {
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
}

.photogallery::after {
    content: '';
    display: block;
    flex-grow: 10;
}

@media (max-aspect-ratio: 1 / 1) and (max-width: 480px) {
    .photogallery {
        flex-direction: row;
    }
}

.photogallery li {
    flex-grow: 1;
    height: 40vh;
    margin: 0.4em;
    border-radius: 15px;
    box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    z-index: 1;
    transition: text-shadow 0.1s, scale 0.1s;
}

.photogallery li:hover {
    box-shadow: 0px 0px 20px 0 rgba(0, 0, 0, 1);
    z-index: 2;
    scale: 101%;
}

@media (max-aspect-ratio: 1 / 1) {
    .photogallery li {
        height: 30vh;
    }
}

@media (max-height: 480px) {
    .photogallery li {
        height: 80vh;
    }
}

@media (max-aspect-ratio: 1 / 1) and (max-width: 480px) {
    .photogallery li {
        height: auto;
        width: 100%;
    }
}

.photogallery li img {
    min-width: 100%;
    height: 100%;
    object-fit: cover;
    font-family: 'object-fit: cover;';
    border-radius: 15px;
    z-index: 1;
}

@media (max-aspect-ratio: 1 / 1) and (max-width: 480px) {
    .photogallery li img {
        width: 100%;
        max-height: 75vh;
        min-width: 0;
    }
}

.photogallery li img.lazyload {
    opacity: 0;
}

.photogallery li img.lazyload.loaded {
    opacity: 1;
}

#gallery {
    padding: 0px;
    margin: 0px;
}

ul {
    display: flex;
    flex-wrap: wrap;
    padding: 0px;
    margin: 0px;
}

li {
    display: block;
}

h1 {
    padding: 2%;
    margin: 1vmin;
    color: rgb(19, 38, 100);
    font-size: 5vmin;
    font-weight: 900;
    background-color: rgb(58, 177, 177);
    border-radius: 15px;
    box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.group {
    width: 100%;
}

.footer {
    display: inline-block;
}

footer {
    padding-left: 3vw;
    color: rgb(13, 15, 24);
}

a:visited, a:link, a:hover, a:active {
    text-decoration: none;
    color: inherit;
}